<!DOCTYPE html>
<html>
    <head>
        <title>The weather for <%= @geodata['location_str']%></title>
    </head>

    <body>

        <h1>The weather for <%= @geodata['location_str']%></h1>

        <% if @loc_str.nil? %>
            <p>This location is an estimate based on your IP address. Use the form below if this is incorrect.</p>
        <% end %>
        <form method="get" action="/">
            <label for="location">Enter your city,state:</label>
            <input type="text" name="location" id="location">
            <input type="submit" value="submit">
        </form>

        <h2>Currently</h2>
        <p>Today is <%= @weather[:currently][:date_str] %></p>
        <p><%= @weather[:currently][:summary] %></p>
        <ul>
            <li>Temperature: <%= @weather[:currently][:temp] %>&deg;F
            (Feels like <%= @weather[:currently][:temp_feels_like] %>&deg;F)</li>
            <li>Chance of rain: <%= @weather[:currently][:precip_prob] %></li>
            <li>Precipitation level: <%= @weather[:currently][:precip_intensity] %></li>
        </ul>

        <h2>Forecast</h2>
        <p><%= @weather[:forecast][:summary] %></p>

        <% for @day in @weather[:forecast][:days] %>
            <h3><%= @day[:date_str] %></h3>
            <p><%= @day[:summary] %></p>
            <ul>
                <li>Low: <%= @day[:min_temp] %>&deg;F</li>
                <li>High: <%= @day[:max_temp] %>&deg;F</li>
                <li>Chance of rain: <%= @day[:precip_prob] %></li>
                <li>Precipitation level: <%= @day[:precip_intensity] %></li>
            </ul>
        <% end %>

    </body>

</html>
